.item {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item_link {
    text-decoration: none;
}

.item:hover,
.item:active {
    background-color: #fa923f;
    color: white;
}

.item_image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.item_image img {
    width: 100%;
    transition: opacity 0.3s ease;
}

.item_desc {
    text-align: center;
}

.item_desc h1 {
    margin: 10px 0;
    color: white;
}

.item_desc p {
    padding: 0 10px 10px 10px;
    color: white;
}