.list_title {
    text-align: center;
    color: white;
    padding-bottom: 32px;
}

.project_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
}

.project_items li {
    list-style: none;
    border: solid 1px white;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

@media (max-width: 992px) {
    .project_items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .project_items {
        grid-template-columns: repeat(1, 1fr);
    }
}