.about_wrap {
  overflow: hidden;
  max-width: 70rem;
}

.about {
    width: 100%;
    background-color: var(--color-light-card);
    border-radius: 6px;
    padding: 8px;
  }

.about p {
  color: var(--color-dark-navy);
  font-size: 18px;
  line-height: 1.2;
  padding: 0.5rem;
  text-align: justify;
  white-space: pre-line;
}

.about p a {
  color: inherit;
  font-weight: 600;
}

@media (max-width: 768px) {
  .about p {
    font-size: 14px;
  }  
}