@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: #333646;
}

.center {
  text-align: center;
  padding-bottom: 2rem;
  color: white;
}

.error {
  max-width: 70rem;
  margin: auto;
  padding: 0 10px;
  color: white;
}

.error_link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 18px;
  background-color: #887392;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: all .2s ease 0s;
}

.error_link:hover {
  background-color: #fa923f;
}